.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
    font-family: 'Lato', sans-serif;
    
    &__logo {
      width: 150px;
      height: auto;
      img {
          width: 100%;
      }
    }
    
    &__links {
      ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        margin: 0;
        
        li {
          a {
            color: $primary-color;
            text-decoration: none;
            
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  